body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  margin: auto auto;
  width: 500px;
  border: thin solid red;
  background-color: lightgray;
}

.Inputs{
  width: 480px;
  /*border: thin solid yellow;*/
}

.Inputs input{
  margin: 10px;
}

.SearchResults{
  width: 480px;
  /*border: thin solid green; */
}

.SearchResults  h3{
  width: 100px;
  display: inline-block;
}

.ResultCategory{
  width: 480px;
  /*border: thin solid pink; */
}

.Result{
  width: 480px;
  /*border: thin solid yellow; */
}

.Result span{
  width: 100px;
  display: inline-block;
}

.outOfStock{
  color: red;
}